
@media only screen and (max-width: 768px) {
    .navbar-custom .avatar-container {
        width: 75px;
    }

    .intro-header {
        margin-top: 100px;
    }
}

img {
    background-color: white;
}

article li {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.post-preview .post-read-more {
    float: none;
}


@media (prefers-color-scheme: dark) {
    .navbar-custom {
        background: #000000;
        border-bottom: 1px solid rgb(37, 37, 37);
    }

    .post-preview {
        border-bottom: 1px solid rgb(37, 37, 37);
    }
    
    body {
        background: #111;
        color: white;
    }
    
    footer {
        background: #000000;
        border-top: 1px solid rgb(37, 37, 37);
    }
}

