nav,
header {
    max-width: 1280px;
    margin: 0 auto;
}

h2,
.post-preview h2.post-title {
    margin: 2.5em 0 1em 0;
}

h3 {
    margin: 2em 0 0.5em 0;
}

p,
.post-entry {
    line-height: 2em;
    margin: 1em 0;
}

.container ul {
    margin: 1.5em 1em;
}

@media only screen and (max-width: 768px) {
    .navbar-custom .avatar-container {
        width: 75px;
    }

    .intro-header {
        margin-top: 100px;
    }

    footer .footer-links {
        margin: 10px auto;
        max-width: 300px;
    }
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

img {
    background-color: white;
}

article li {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.post-preview .post-read-more {
    float: none;
}

.posts-list h2.post-title {
    font-size: 1.5em;
}
.posts-list h3.post-subtitle {
    font-size: 1.2em;
}

.posts-list .post-meta {
    font-size: 1em;
    padding-top: 0.5em;
}

.posts-list .post-entry {
    font-size: 0.8em;
}

.well {
    border: none;
    padding: 0;
}

.navbar .containter-fluid {
    max-width: 768px;
}

.intro-header.big-img:before {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)) no-repeat center center;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

a {
    max-width: 100%;
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {

    .navbar-custom {
        background: #000000;
        border-bottom: 1px solid rgb(37, 37, 37);
    }

    .post-preview {
        border-bottom: 1px solid rgb(37, 37, 37);
    }

    .post-heading .post-meta {
        background-color: #000000;
        padding: 5px;
    }

    body {
        background: #111;
        color: #CCC;
    }
    
    strong {
        color: white;
    }
    
    footer {
        background: #000000;
        border-top: 1px solid rgb(37, 37, 37);
    }

    .well {
        background-color: transparent;
    }
}
