
@media only screen and (max-width: 768px) {
    .navbar-custom .avatar-container {
        width: 75px;
    }

    .intro-header {
        margin-top: 100px;
    }
}

img {
    background-color: white;
}

article li {
    margin-top: 0.5em;
    margin-bottom: 1em;
}