---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import LogoImg from '../assets/jorgetutor-comic-head.svg';
import IconPhoto from '../assets/jorgetutor-square.jpg';
---

<header class="fixed top-0 left-0 right-0 z-20 flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf3] px-10 py-3 bg-white">
  <div class="flex items-center gap-4 text-[#0e141b]">
    <div
      class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 bg-color-white border border-solid border-gray-300"
      style={`background-image: url(${IconPhoto.src});background-color: white;`}
    ></div>
    <a class="text-[#0e141b] text-lg font-bold leading-tight tracking-[-0.015em]" href="/">Jorge Tutor</a>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <HeaderLink href="/" class="hidden md:block">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <a href="https://www.linkedin.com/in/jorgetutor/"
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#1978e5] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] hover:text-white hover:bg-[#1669c1] transition-colors duration-200 no-underline"
    >
      <span class="truncate">Contact me</span>
  </a>
  </div>
</header>
{Astro.url.pathname === '/' && (
    <section class="px-10 flex flex-col justify-center items-center py-5 min-h-screen border-b border-solid border-b-[#e7edf3]">
        <div class="max-w-[1280px] align-middle w-full">
            <h1 class="text-[#0e141b] text-[28px] md:text-[46px] font-bold break-inside-avoid text-center mb-3">I help tech leaders and managers<br/> lead with confidence</h1>
            <p class="text-[#0e141b] leading-normal text-center font-extralight text-[16px] md:text-[32px]">
            Over 15 years in the trenches, leading complex online projects.
            </p>
        </div>
    </section>
  )}
