---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import LogoImg from '../assets/jorgetutor-comic-head.svg';
import IconPhoto from '../assets/jorgetutor-square.jpg';
---

<header class="fixed top-0 left-0 right-0 z-20 flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf3] px-2 sm:px-10 py-3 bg-white">
  <div class="flex items-center gap-4 text-[#1b0f0e]">
    <div
      class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 bg-color-white border border-solid border-gray-300"
      style={`background-image: url(${IconPhoto.src});background-color: white;`}
    ></div>
    <a class="text-[#0e141b] text-lg font-bold leading-tight tracking-[-0.015em]" href="/">Jorge Tutor</a>
  </div>
  <div class="flex flex-1 justify-end gap-5 md:gap-8">
    <div class="flex items-center gap-9">
      <HeaderLink href="/" class="hidden md:block">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <a href="https://www.linkedin.com/in/jorgetutor/"
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#1978e5] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] hover:text-white hover:bg-[#1669c1] transition-colors duration-200 no-underline"
    >
      <span class="truncate">Contact me</span>
  </a>
  </div>
</header>
{Astro.url.pathname === '/' && (
    <section class="px-10 flex flex-col justify-center items-center py-5 min-h-screen border-b border-solid border-b-[#e7edf3]">
        <div class="max-w-[1280px] align-middle w-full">
            <h1 class="text-[#0e141b] text-[40px] md:text-[46px] font-bold break-inside-avoid text-center mb-3 mt-0">I help <span class="bg-black text-white px-3">leaders</span> on the tech sector<br/> to manage with confidence</h1>
            <p class="text-[#0e141b] leading-normal text-center font-extralight text-[24px] md:text-[32px]">
            Over 15 years in the trenches, leading complex digital projects.
            </p>
        </div>
        <a href="#main" aria-label="Scroll to main content" class="mt-8 animate-bounce block">
            <svg class="w-8 h-8 text-[var(--accent)]" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5303 16.2803C12.2374 16.5732 11.7626 16.5732 11.4697 16.2803L3.96967 8.78033C3.67678 8.48744 3.67678 8.01256 3.96967 7.71967C4.26256 7.42678 4.73744 7.42678 5.03033 7.71967L12 14.6893L18.9697 7.71967C19.2626 7.42678 19.7374 7.42678 20.0303 7.71967C20.3232 8.01256 20.3232 8.48744 20.0303 8.78033L12.5303 16.2803Z" />
            </svg>
        </a>
    </section>
  )}
