---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import LogoImg from '../assets/jorgetutor-comic-head.svg';
---

<header class="m-0 px-4 bg-white shadow-[0_2px_8px_rgba(var(--black),0.05)]">
        <nav class="flex items-center justify-between">
                <div class="logo m-0 text-base">
                        <a href="/" class="font-bold no-underline flex items-center gap-2"><Image src={LogoImg} alt="Jorge Tutor Comic" width="42" height="42" /> {SITE_TITLE}</a>
                </div>
                <div class="internal-links flex">
                        <HeaderLink href="/">Home</HeaderLink>
                        <HeaderLink href="/blog">Blog</HeaderLink>
                        <HeaderLink href="/about">About</HeaderLink>
                </div>
        </nav>
</header>
