<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}" />
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self' https://www.youtube.com https://www.gstatic.com;
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    img-src 'self' data: https://www.gstatic.com https://i.ytimg.com;
    font-src 'self' https://fonts.gstatic.com;
    connect-src 'self';
    object-src 'none';
    base-uri 'self';
    form-action 'self';
    frame-ancestors 'none';
    frame-src 'self' https://www.youtube.com;
">
