---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// The 'frontmatter' prop is automatically passed in from your MDX file.
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={frontmatter.title ?? SITE_TITLE} description={frontmatter.description ?? SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
                <main id="main">
                        <slot />
                </main>
		<Footer />
	</body>
</html>